<!DOCTYPE html>
<html lang="en">
    {%extends "header.html"%}
   
    {%block content%}
    <section class="bg-light">
        &nbsp;
        <div class="container pb-5">

            <section class="container py-5">
                <div class="row">
            
                    <div class="col-md-6 col-lg-3 pb-5">
                        <a href="#"><img src="static/assets/img/riderLogIn.png" class="rounded-circle img-fluid border"></a>
                        <h5 class="text-center mt-3 mb-3">I'm a Rider</h5>
                        <p class="text-center"><a href="/riderlogin" class="btn btn-success">Log in as a Rider</a></p>
                    </div>
            
                    <div class="col-md-6 col-lg-3 pb-5">
                        <a href="#"><img src="static/assets/img/riderSignUp.png" class="rounded-circle img-fluid border"></a>
                        <h2 class="h5 text-center mt-3 mb-3">I'm a new Rider</h2>
                        <p class="text-center"><a href="/ridersignup" class="btn btn-success">Sign Up as a Rider</a></p>
                    </div>
            
                    <div class="col-md-6 col-lg-3 pb-5">
                        <a href="#"><img src="static/assets/img/driverLogIn.png" class="rounded-circle img-fluid border"></a>
                        <h2 class="h5 text-center mt-3 mb-3">I'm a Driver</h2>
                        <p class="text-center"><a href="/driverlogin" class="btn btn-success">Log in as a Driver</a></p>
                    </div>
            
                    <div class="col-md-6 col-lg-3 pb-5">
                        <a href="#"><img src="static/assets/img/driverSignUp.png" class="rounded-circle img-fluid border"></a>
                        <h2 class="h5 text-center mt-3 mb-3">I'm a new Driver</h2>
                        <p class="text-center"><a href="/driversignup" class="btn btn-success">Sign up as a Driver</a></p>
                    </div>
                </div>
                </section> 
        </div>
    </section>

{%endblock%}