<!DOCTYPE html>
<html lang="en">

    {%extends "header.html"%}
   
    {%block content%}
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Welcome {{name}}</h1>
                    <h2>Rate: 4.8/5</h2>
                    <h3>Here are the avalible rides</h3>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Origin</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Riders</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Price</th>
                            <th scope="col">Booker</th>

                            <th scope="col">Take this ride?</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%for i in trips%}
                          <tr>
                            <form action="/accept" method="POST">
                            <th scope="row">
                              {{i.id}}
                              
                            </th>
                            <td>{{i.origin}}</td>
                            <td>{{i.destination}}</td>
                            <td>{{i.riders}}</td>
                            <td>{{i.date}}</td>
                            <td>{{i.time}}</td>
                            <td>${{i.price}}</td>
                            <td>{{i.booker}}</td>
                            <td>
                                  <button class="btn btn-light m-1" type="submit">Claim</button>
                                  <button class="btn btn-danger m-1" type="submit">Reject</button>
                                </form>
                              </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                </div>
                <div class="col-md-4">
                    <img src="static/assets/img/about-hero.svg" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->



    
    

    {%endblock%}