<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confirm a Ride</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/templatemo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!--

        

-->
</head>

<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                Taxi
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tripHistory.html">My Trips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="riderAccount.html">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Your Trip Summary</h1>
                    <h3 class="h3">Thank you for riding with Taxi today!</h3>
                    &nbsp;
                </div>

                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Paid with</th>
                                    <th>Fare</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4/14/21</td>
                                    <td>2:30 PM</td>>
                                    <td>3201 S State St</td>
                                    <td>3021 S State St</td>
                                    <td>Credit Card</td>
                                    <td>$0.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                &nbsp;
                <div class="col-lg-6 m-auto">
                    &nbsp;
                    <h4>How was your trip today?</h4>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <div class="rating">
                        <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                        <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                        <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                        <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                        <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                    </div>
                </div>
                
            </div>
            <div>
                <form action="/trips" method="post">
                    <div class="form-group required">
                        <h4>Add tips?</h4>
                        <label for="seats">Tips</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input class="form-control" type="number" min="0" step="0.01" name="tips" required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>




    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>

    <script src="https://kit.fontawesome.com/bd2b28ab92.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js">
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->


    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-2N80rK2kidBJstxDFz5Z-n072YYDhk&callback=myMap"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-2N80rK2kidBJstxDFz5Z-n072YYDhk"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <script>
        $(document).ready(function () {
                // Check Radio-box
                $(".rating input:radio").attr("checked", false);

                $('.rating input').click(function () {
                    $(".rating span").removeClass('checked');
                    $(this).parent().addClass('checked');
                });

                $('input:radio').change(
                    function () {
                        var userRating = this.value;
                        alert(userRating);
                    });
            });
    </script>
    <!-- End Script -->
</body>

</html>