<!DOCTYPE html>
<html lang="en">

    {%extends "header.html"%}
   
    {%block content%}
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Your Trip Summary</h1>
                    <h3 class="h3">Thank you for riding with Taxi today!</h3>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Paid with</th>
                                    <th>Fare</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{date}}</td>
                                    <td>2:30 PM</td>
                                    <td>{{origin}}</td>
                                    <td>{{destination}}</td>
                                    <td>Credit Card</td>
                                    <td>${{price}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        <div class="row text-center">
            <div class="col m-auto">
                <h4>How was your trip today?</h4>
                <form class="form-group" action="/">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" placeholder="Tell us about it..."></textarea>
                    <button type="submit" class="btn btn-success m-3">Submit</button>
                </form>
            </div>
        </div>              
                                                       

        </div>
    </section>


    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-2N80rK2kidBJstxDFz5Z-n072YYDhk&callback=myMap"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-2N80rK2kidBJstxDFz5Z-n072YYDhk"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <script>
        $(document).ready(function () {
                // Check Radio-box
                $(".rating input:radio").attr("checked", false);

                $('.rating input').click(function () {
                    $(".rating span").removeClass('checked');
                    $(this).parent().addClass('checked');
                });

                $('input:radio').change(
                    function () {
                        var userRating = this.value;
                        alert(userRating);
                    });
            });
    </script>
    <!-- End Script -->
{%endblock%}