<!DOCTYPE html>
<html lang="en">

{%extends "header.html"%}
{%block content%}
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    {%if error%}
                    <div class="alert alert-danger" role="alert">
                        Oops! Your username or password is incorrect!
                      </div>
                    {%endif%}
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="static/assets/img/driverWelcomeBack.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h2>Welcome Back</h2>
                                <p>Log in as a rider</p>
                                <form id="loginForm", action="/loginhandle", method="POST">
                                    <div>
                                        <label>Username</label>
                                        <input type="text" name="username" class="form-control"
                                            placeholder="Enter your username" required>
                                        <p></p>
                                    </div>
                                    <div class="form-group ">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control"
                                            placeholder=" Enter your Password" required>
                                        <p></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Login"
                                            onclick="driverLogin()">

                                    </div>
                                    <p>Don't have an account? <a href="riderSignUp.html">Sign up</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

{%endblock%}