<!DOCTYPE html>

{%extends "header.html"%}
   
{%block content%}
    <style>
        #form {
            margin-top: 50px;
        }

        #map {
            width: 100%;
            height: 300px;
            margin-top: 20px;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div class="container">

        <div id="form" class="form-horizontal col-sm-8">
            <div class="form-group">
                <b><label for="from-input">From</label></b>
                <input type="search" class="form-control" id="from-input" placeholder="From">
                <!-- aria-describedby -->
            </div>
            <div class="form-group">
                <b><label for="to-input">To</label></b>
                <input type="search" class="form-control" id="to-input" placeholder="To">
            </div>
            &nbsp;
            <button id="route" type="submit" class="btn btn-primary">See the route</button>
        </div>

    </div>
    <div id="map"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-2N80rK2kidBJstxDFz5Z-n072YYDhk&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script src="static/assets/js/getRoute.js"></script>

{%endblock%}