<!DOCTYPE html>

{%extends "header.html"%}
   
{%block content%}
    <style>
        #form {
            margin-top: 50px;
        }

        #map {
            width: 100%;
            height: 300px;
            margin-top: 20px;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div class="container">

        <div id="form" class="form-horizontal col-sm-8">
            <div class="form-group">
                <b><label for="from-input">From</label></b>
                <input type="search" class="form-control" id="from-input" placeholder="From">
                <!-- aria-describedby -->
            </div>
            <div class="form-group">
                <b><label for="to-input">To</label></b>
                <input type="search" class="form-control" id="to-input" placeholder="To">
            </div>
            &nbsp;
            <button id="route" type="submit" class="btn btn-primary">See the route</button>
        </div>
        <div style="text-decoration:none; overflow:hidden;max-width:100%;width:1000px;height:500px;"><div id="embeddedmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Chicago&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlemap-html" rel="nofollow" href="https://www.bootstrapskins.com/themes/html" id="authmap-data">buy html themes</a><style>#embeddedmap-canvas .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>
    </div>
{%endblock%}