<!DOCTYPE html>
<html lang="en">

{%extends "header.html"%}
{%block content%}

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>My Account</h1>
                    <form action="/book">                   <button type="submit" class="btn btn-outline-light">Book a ride!</button>
                    </form>
                   <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone Number</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">{{current_user.username}}</th>
                        <td>{{current_user.address}}</td>
                        <td>{{current_user.phonenumber}}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4">
                    <img src="static/assets/img/riderAccount.png" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->



{%endblock%}

    